/* google fonts*/
@import url('https://fonts.googleapis.com/css?family=Germania+One|Open+Sans:300')

/* Font variables */
$open-sans: 'Open Sans', sans-serif
$Germania: 'Germania One', cursive

/* Color variables */
$darkgreen: #005E35
$lightgreen: #3BB64B
$offwhite: #F3F3F3
$fontgrey: #565656
$palegrey: #d6d7d8

/* Global settings */
body
  display: flex
  justify-content: center
  flex-direction: column
  margin: 0
  padding: 0
  font-family: sans-serif
  background-color: $offwhite
  

h1, h2
  color: $fontgrey
  font-family: $open-sans

h1 
 align-self: left

p, a
  color: $fontgrey
  font-family: $open-sans

a:hover
  color: $lightgreen
  font-family: $open-sans


/* Main Content Alignment */
div 
  border-style: solid
  border-color: red

.banner
  width: 100%
  height: 8vw
  margin: 0
  background-color: $lightgreen

.main_contain
  display: flex
  flex-direction: column
  align-items: center

/* Top Contianer */
.top_container
  border-top-style: solid
  border-top-color: $palegrey
  display: flex
  width: 70%
  height: auto
  padding: 20px
  margin: 10px
  padding-left: 20px
  justify-content: space-around

/* Item Specs Form Styles */
input
  border: none
  padding: 5px
  font-size: 25px
  font-family: $open-sans
  color: $fontgrey

label
  font-family: $open-sans
  color: $fontgrey

.top_child_left
  display: flex
  flex-direction: column
  padding-top: 10px
  display: flex
  width: 40%
  height: auto
  padding: 20px
  margin: 10px
  padding-left: 20px

.top_child_right
  display: flex
  flex-direction: column
  padding-top: 10px
  display: flex
  width: 40%
  height: auto
  padding: 20px
  margin: 10px
  padding-left: 20px

/* Middle Container */
.middle_container
  border-top-style: solid
  border-top-color: $palegrey
  display: flex
  width: 70%
  height: auto
  padding:20px
  margin: 10px
  justify-content: center
  align-items: center

  /* Image Upload DROPZONE */
.dropzone
  display: flex
  align-items: center
  justify-content: center
  border-style: dotted
  border-color: $lightgreen
  border-radius: 25px
  width: 45%
  height:250px

/* Bottom Container */
.bottom_container
  border-top-style: solid
  border-top-color: $palegrey
  display: flex
  width: 70%
  height: auto
  padding: 20px
  margin: 10px